In [1]:
print("Hello World")

Hello World

# Python Programming

1. Data Structure
 - Primitive (core data types): int, float, str, bool and complex
 - Non Primitive: list, tuple, set, dictionary


2. COntrol Flow
    - conditional statements: if else
    - loops: for, while
    - break, continue

3. Functions
    - BUiltin functions
    - user defined functions

4. OOPs and Packages
    - class
    - Modules and Packages

## Data Structure

In [2]:
# i am a comment
x = 7
print(x)

7

In [3]:
print(type(x))

<class 'int'>

In [4]:
y = 7.5
print(y)
print(type(y))

7.5
<class 'float'>

In [6]:
k = "Hello wOrld"
print(k)
print(type(k))

Hello wOrld
<class 'str'>

In [7]:
m = True
print(m)
print(type(m))

True
<class 'bool'>

In [8]:
q = 7 + 8j
print(q)
print(type(q))

(7+8j)
<class 'complex'>

### Non Primitive Data Structure
#### Lists
- used to define a collection of values
- supports elements of multiple data types, repetition
- mutable: modifiable
- can be defined using square/upper bracket: []

In [ ]:
x = [4,5,4,'hii',True, 3.4]
print(x)

In [ ]:
type(x)

In [ ]:
len(x)

In [ ]:
# indexing
print(x[0])
print(x[4])

In [ ]:
print(x[-1])

In [ ]:
# slicing - accessing a sublist
print(x)

In [ ]:
print(x[0:4]) # 0th, 1st, 2nd, 3rd
print(x[2:5])

In [ ]:
x[0] = 25
print(x)

In [ ]:
x.append('Python')
print(x)

In [ ]:
x.insert(2,'MorningStar')
print(x)

In [ ]:
x.remove(25)
print(x)

In [21]:
x.pop(3)
print(x)

[5, 'MorningStar', 4, True, 3.4, 'Python']

#### Tuple
- used to define a collection of values
- supports elements of multiple data types, repetition
- immutable: NOT modifiable
- can be defined using lower/round bracket / parenthesis: ()

In [22]:
y = (32, True, 3.14, "Hello", 32)
print(y)
print(type(y))

(32, True, 3.14, 'Hello', 32)
<class 'tuple'>

In [23]:
len(y)

5

In [24]:
# indexing
print(y[0])
print(y[2])
print(y[-2])

32
3.14
Hello

In [25]:
# slicing
print(y[0:4])

(32, True, 3.14, 'Hello')

In [26]:
print(y)

(32, True, 3.14, 'Hello', 32)

In [27]:
y[0] = 12

TypeError: 'tuple' object does not support item assignment

### Dictionary

- used to store a collection of key value pairs
- supports elements of multiple data types, repetition
- mutable: modifiable
- can be defined using curly/middle/flower bracket: {}

In [28]:
w = {"name":"Anshu","Age":21,"City":"Mumbai"}
print(w)

{'name': 'Anshu', 'Age': 21, 'City': 'Mumbai'}

In [29]:
type(w)

dict

In [30]:
len(w)

3

In [31]:
# indexing
print(w['name'])

Anshu

In [32]:
w['laptop'] = "hp"
print(w)

{'name': 'Anshu', 'Age': 21, 'City': 'Mumbai', 'laptop': 'hp'}

In [33]:
w['Age'] = 45
print(w)

{'name': 'Anshu', 'Age': 45, 'City': 'Mumbai', 'laptop': 'hp'}

In [34]:
w.pop('City')
print(w)

{'name': 'Anshu', 'Age': 45, 'laptop': 'hp'}

#### set
- used to store a collection values = unique elements
- do not support repition, supports multiple data types
- unordered-no indexing
- mutable: modifiable
- primarily used for set theory operations: union
- can be defined using curly/middle/flower bracket: {}

In [35]:
w = {3,4,5,6,4,3,2,3,4}
print(w)

{2, 3, 4, 5, 6}

In [36]:
type(w)

set

In [37]:
q = {3,4,5,9}
w.union(q)

{2, 3, 4, 5, 6, 9}

In [38]:
w.intersection(q)

{3, 4, 5}

In [39]:
q.add(12)
print(q)

{3, 4, 5, 9, 12}

In [40]:
q.remove(5)

### Conditional Statement

In [42]:
age = 45

if age<18:
    print("You are young, not adult")
    print("you can not vote")
print("thank You")

thank You

In [44]:
age = 35

if age<18:
    print("You are young, not adult")
    print("you can not vote")
elif age>=18 and age<40:
    print("you are young and can vote")
print("thank You")

you are young and can vote
thank You

In [45]:
age = 57

if age<18:
    print("You are young, not adult")
    print("you can not vote")
elif age>=18 and age<40:
    print("you are young and can vote")
else:
    print("you are already adult, you can vote")
    if age>60:
        print("you are old now, you can still vote")
print("thank You")

you are already adult, you can vote
thank You

In [46]:
city = ['DEL','BOM','PNQ','BLR']

mycity = 'DEL'
if mycity in city:
    print("your city is already listed here")
    print(city)
else:
    print("your city is enrolled now.")
    print(city)

your city is already listed here
['DEL', 'BOM', 'PNQ', 'BLR']

In [47]:
# f string
city = 'DEL'
name = 'Anshu'

m = f" Hi {name} your city is {city}"
print(m)

 Hi Anshu your city is DEL

In [48]:
# LOOPs: used to repeat execution of instructions
# For loop: if we know exact count of repitition
# while loop: conditional repitition

In [49]:
for i in range(5):
    print("Python is awesome",i)

Python is awesome 0
Python is awesome 1
Python is awesome 2
Python is awesome 3
Python is awesome 4

In [ ]:
for i in range(2,12,2): # start, stop, increment/step
    print("python is easy", i)

In [ ]:
city = ['DEL','BOM','PNQ','BLR']
for c in city:
    print(c)
    if c=='BOM':
        print("hi from Bombay")

In [ ]:
x = 5
while x<10:
    print("Python is super simple")
    x += 1

In [53]:
x = 5
while True:
    print("Python is super simple")
    x += 1
    if x>10:
        break

Python is super simple
Python is super simple
Python is super simple
Python is super simple
Python is super simple
Python is super simple

## Functions

In [ ]:
x = [3,4,5,6,5,2]
print(x)
len(x)

In [ ]:
type(x)

In [ ]:
print(sum(x))
print(min(x))
print(max(x))
print(sorted(x))
print(round(3.4445555,2))

In [ ]:
# user defined functions
def morningStar():
    print("Hello from MorningStar")
    print("How are you")
    return None

In [61]:
morningStar()

Hello from MorningStar
How are you

In [62]:
def morningStar(a,b):
    c = a+b
    return c

In [ ]:
morningStar(4,5)

In [65]:
def morningStar(a,b):
    """ 
    This function can accept two numbers and returns addition
    Arguments:
    a: int/float/Bool/complex
    b: int/float/bool/complex

    returns:
    c: int/float

    Example:
    morningStar(4,5)
    >> 9
    """
    c = a+b
    return c

In [ ]:
help(morningStar)

In [67]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

## OOPs

In [1]:
class employee:
    name = ""
    salary = ""

    def onboarding(self):
        print("Welcome to the team")
        return None

In [2]:
e1 = employee()
e1.name = "ANshu"
e1.salary = 1000

In [3]:
e1.onboarding()

Welcome to the team

In [4]:
print(e1.name, e1.salary)

ANshu 1000